.title {
    height: 75px;
    background: lightgray;
    border: 1px solid black;
    border-bottom: none;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.photo{
    border-radius: 100px;
    width: 50px;
    height: 50px;

}
.photoBlock {
    width: fit-content;
    margin-top: 12px;
    margin-left: 10px;
}

.name {
    font-family: "Franklin Gothic Medium";
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}