.form{
    position: relative;
}

.mainBlock {
    height: 100px;
    background: lightgray;
    border: 1px solid black;
    border-top: none;
}

.input{
    margin-top: 30px;
    margin-left: 50px;
    width: 90%;
    height: 3em;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid;
    padding: 0 20px;
}

.btn{
    background: white;
    position: absolute;
    top: 34px;
    right: 80px;
    border: none;

}

.img{
    background: white;
    width: 40px;
    height: 30px;
}




